
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: linear-gradient(blue, orange, green);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.no-bullets {
  list-style-type: none;
}
.justify-start{
  justify-self: start;
  align-items: start;
  align-content: start;

}
h1{
  text-shadow: #0b441055 4px 4px 0px;
  text-decoration: bold;
}
h2{
  text-shadow: #0b441055 3px 3px 0px;
}
h3{
  text-shadow: #0b441055 2px 2px 0px;
}
.scale-up{
  transform: scale(1.5);
}
.shadow-black{box-shadow: black 0px 0px 3px;}

.navbar{
  border-radius: 10px; 
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
}
.gradient{
  background-image: linear-gradient(silver, gray, rgb(57, 55, 55));
}
.nav-item :hover{
  background-color: #0b4410;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
}
.header-title{
  color: silver;
  
}
